---
layout: blog
only_available: false
---

<section class="mt-15">
    {% set postslist = collections.post %}
    <div class="bg-white">
        <a href="/ure_na_voljo" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded mt-5">Samo ure na voljo -></a>
        <div class="mx-auto max-w-2xl px-4 py-12 sm:px-6 sm:py-18 lg:max-w-7xl lg:px-8 pb-40">
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-2 xl:gap-x-8">
            {% for post in postslist | reverse %}
            <div class="group relative">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                    {% if post.data.title_image %}
                    <a href="{{ post.url | url }}">
                        <img src="{{ post.data.title_image }}" alt="{{ post.data.title }}" loading="lazy"
                            class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                    </a>
                    {% endif %}
                </div>
                <div class="mt-4">
                    <div>
                        <h3 class="text-gray-700 mb-2">
                            <a href="{{ post.url | url }}">
                                {% if post.data.title %}
                                    {{ post.data.title }}
                                {% else %}
                                    Untitled
                                {% endif %}
                            </a>
                        </h3>
                        <p class="text-base leading-6 text-gray-500 mb-3">
                            <time>{{ post.date | readableDate }}
                            </time>
                        </p>
                        {% if post.data.description %}
                            <p class="text-lg text-gray-500 mb-3 truncate">
                                {{ post.data.description }}
                            </p>
                        {% endif %}
                    </div>
                    <p>
                        <a href="{{ post.url | url }}" class="font-bold text-lg">
                            Read more →
                        </a>
                    </p>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>