---
layout: default
title: Neat Starter
path: home
---

<div class="container max-w-3xl mt-6 px-6">
    <h1>
      Petnajst cez
    </h1>
    <p class="text-center">
      Vse o vintage urah na enem mestu
    </p>

    <div id="recent_posts">
      {% set postslist = collections.post %}
      {% for post in postslist | reverse %}
        {% if post.data.title_image %}
        <a class="relative mx-2" class="w-full" style="height: 200px" href="{{ post.url }}">
          <img src="{{ post.data.title_image }}" alt="{{ post.data.title }}" class="object-cover h-full w-full">
          <div class="absolute bottom-0 text-center w-full h-10 p-2 bg-gray-300 bg-opacity-60">
            <h4 class="text-black font-bold truncate mb-0">{{ post.data.title }}</h2>
          </div>
        </a>
        {% endif %}
      {% endfor %}
    </div>
  <div class="bg-gray-100 p-4 mt-20 text-center">
    <h2> Poglej kaj je na voljo</h2>
    <a href="/ure_na_voljo" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5">
      Odpelji me
    </button>
  </div>
  <h2 class="mt-20 text-center">Video</h2>
  <div class="d-block" id="videos">
    <img src="https://i.ytimg.com/vi/IKjyixLMqN0/maxresdefault.jpg" class="h-1.5 w-full mx-2 object-fit">
    <img src="https://i.ytimg.com/vi/IKjyixLMqN0/maxresdefault.jpg" class="h-1.5 w-full mx-2 object-fit">
    <img src="https://i.ytimg.com/vi/IKjyixLMqN0/maxresdefault.jpg" class="h-1.5 w-full mx-2 object-fit">
  </div>

  <h2 class="mt-20 text-center">Kdo smo ?</h2>
  <p class="text-center p-4">15 cez je kolektiv prijaznih ljudi, ki jih druzi ljubezen do ur. Dej mi danr dej ga ful dej ga ful. A misls da si faca a misls da si kul.
    Ena na ena dva na dva al pa sam spilamo ta basket lahko tut po cel dan. Napise se kej na papir pa se podpise se podpise. AI majka ti jebem. True
  </p>


  <div class="bg-gray-100 p-10 my-20">
    <h2 class="text-center">Dej nm mail</h2>
    <p class="text-center mb-5">Prijavi se na nas mailing list in ne zamudi nicesar kar se dogaja v svetu vintage ur. Sam se ne dela</p>
    <form netlify class="flex">
      <input type="text" name="email" placeholder="Email" class="block w-full rounded-md border-0 py-2 pl-4 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 me-3">
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 rounded w-40">Dej</button>
    </form>
  </div>
    {% include "./_includes/partials/content.html" %}
</div>